<div class="cup-content col-lg-8 offset-lg-2 py-3 bg-cup">
    <h1>The Feast World Cup FAQ</h1>

    <div class="cup-header-wrapper">
        <img class="cup-header-logo" src="/plugins/cleanse/worldcup/assets/images/logo-62-65.png"/>
        <h3 class="cup-header">Frequently Asked Questions (FAQ)</h3>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <p class="mb-1"><strong>Q: Are you guys an official tournament run by Final Fantasy XIV like the Feast Regional
                Championships?</strong></p>
            <p>A: No, The Feast World Cup is a community-run tournament hosted by PvPaissa.</p>
            <hr>

            <p class="mb-1"><strong>Q: Do I need to make a character on all 3 data centers for the whole tournament?
            </strong></p>
            <p>A: No, you only need 1 character on the region you will be starting the tournament in. If your team
                qualifies for The Feast World Cup main event from the Major Qualifiers, you will be given 2 weeks to
                make characters on the other regional data centers.</p>
            <hr>

            <p class="mb-1"><strong></strong></p>
            <p></p>
            <hr>

            <p class="mb-1"><strong></strong></p>
            <p></p>
            <hr>
        </div>
    </div>

    <div class="cup-header-wrapper">
        <img class="cup-header-logo" src="/plugins/cleanse/worldcup/assets/images/logo-62-65.png"/>
        <h3 class="cup-header">Regional Minor Qualifiers - Playoff Stage</h3>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            Coming soon.
        </div>
    </div>

    <div class="cup-header-wrapper">
        <img class="cup-header-logo" src="/plugins/cleanse/worldcup/assets/images/logo-62-65.png"/>
        <h3 class="cup-header">Regional Major Qualifiers - Playoff Stage</h3>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            Coming soon.
        </div>
    </div>

    <div class="cup-header-wrapper">
        <img class="cup-header-logo" src="/plugins/cleanse/worldcup/assets/images/logo-62-65.png"/>
        <h3 class="cup-header">The Feast World Cup - Group Stage</h3>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            Coming soon.
        </div>
    </div>

    <div class="cup-header-wrapper">
        <img class="cup-header-logo" src="/plugins/cleanse/worldcup/assets/images/logo-62-65.png"/>
        <h3 class="cup-header">The Feast World Cup Tournament</h3>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            Coming soon.
        </div>
    </div>

    <p class="small text-center">
        <small>{{ "now"|date("Y") }} <a href="/">PvPaissa</a>. All rights reserved.</small>
    </p>
</div>