<div class="cup-content col-lg-8 offset-lg-2 py-3 bg-cup">
    <h1>The Feast World Cup FAQ</h1>

    <div class="cup-header-wrapper">
        <img class="cup-header-logo" src="/plugins/cleanse/worldcup/assets/images/logo-62-65.png"/>
        <h3 class="cup-header">Frequently Asked Questions</h3>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <p class="mb-1"><strong>Q: Are you guys an official tournament run by Final Fantasy XIV like the Feast
                Regional Championships?</strong></p>
            <p>A: No, The Feast World Cup is a community-run tournament hosted by PvPaissa.</p>
            <hr>

            <p class="mb-1"><strong>Q: Do I need to make a character on all 3 data centers for the whole
                tournament?</strong></p>
            <p>A: No, you only need 1 character on the region you will be starting the tournament in. If your team
                qualifies for The Feast World Cup main event from the Major Qualifiers, you will be given 2 weeks to
                make characters on the other regional data centers.</p>
            <hr>

            <p class="mb-1"><strong>Q: Ping seems unfair for certain teams coming from certain regions, how will you
                balance this?</strong></p>
            <p>A: All games in The Feast World Cup main event are a best-of-3 (BO3) with the exception of the Grand
                Finals (BO5). For <strong><u>NA vs JP</u></strong> and <strong><u>NA vs EU</u></strong> match-ups, these
                matches will be played on each other’s respective data centers (ex. Game 1 played on Aether and Game 2
                played on Chaos. <u>Game 3 will be decided by a /random in-game where the team that rolls the highest
                    number will have the game played on their home data center</u>). For <strong><u>EU vs
                    JP</u></strong> match-ups specifically--due to severe ping issues going both ways--we have decided
                it would be most fair for both teams to have all matches played on the North American Data Center
                (Aether).</p>
            <hr>

            <p class="mb-1"><strong>Q: I want to participate in The Feast World Cup but I only have a character on Gaia
                / Elemental / Primal. How can I participate?</strong></p>
            <p>A: Data center selection for this tournament was thought out carefully and it was determined that Aether,
                Chaos and Mana are the most populated data centers for the majority of PvP players. If you want to
                participate in the tournament, you will have to create a character on one of these data centers.</p>
            <hr>

            <p class="mb-1"><strong>Q: What are all the prizes I can potentially win?</strong></p>
            <p>A: For the <u>Regional Minor Qualifiers</u>, there is no prize. For the <u>Regional Major Qualifiers</u>,
                1<sup>st</sup> place team in each region will receive a <strong>free character or story boost of their
                    choice for every member on their team</strong>. For winning The Feast World Cup, a Trophy and a
                minimum $1,000 USD + extra <a href="/world-cup/contribute">crowd-funded prize pool</a> will be won by
                The Feast World Cup Champions.</p>
            <hr>

            <p class="mb-1"><strong>Q: What qualifies as an “FRC team” being invited to the tournament?</strong></p>
            <p>A: Only the 4 teams from each region that qualified for the LIVE tournaments (i.e. Top 4 teams in the
                semifinal stages of the FRC) will be invited. In the event that an FRC does not wish to participate,
                extra teams from the Minors will qualify in place of the FRC teams in equal to the number of FRC teams
                not wishing to participate. In the special case of the NA FRC Invitationals, the <strong>Rising Stars
                    Event</strong> winners will replace team “Trash Tears” of the NA FRC Finalist teams.</p>
            <hr>

            <p class="mb-1"><strong>Q: Is there a way for me to contribute to the prizes other than monetary
                means?</strong></p>
            <p>A: Yes! We are open to suggestions for all potential types of prizes. If you want to contribute through
                other means, please email us at <a href="mailto:pvpaissa@gmail.com">pvpaissa@gmail.com</a>.</p>
            <hr>

            <p class="mb-1"><strong>Q: My team and I want to participate but we can only make it certain days of the
                tournament. Is scheduling flexible?</strong></p>
            <p>A: Unfortunately, the dates for the tournament are set in stone, but the time within the scheduled day is
                flexible to change within the allocated time blocks. If there are time accomodations/restrictions you
                wish to request, please contact one of the Regional Representatives or Staff as soon as possible.</p>
        </div>
    </div>

    <p class="small text-center">
        <small>{{ "now"|date("Y") }} <a href="/">PvPaissa</a>. All rights reserved.</small>
    </p>
</div>