<div class="cup-content col-lg-8 offset-lg-2 py-3 bg-cup">
    <h1>The Feast World Cup FAQ</h1>

    <div class="cup-header-wrapper">
        <img class="cup-header-logo" src="/plugins/cleanse/worldcup/assets/images/logo-62-65.png"/>
        <h3 class="cup-header">よくある質問と回答</h3>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <p class="mb-1"><strong>Q: The FEAST リージョンチャンピオンシップのような Final Fantasy XIV の公式大会ですか？</strong></p>
            <p>A: いいえ、The Feast World Cup はユーザーコミュニティ (PvPaissa) 主催の大会です。</p>
            <hr>

            <p class="mb-1"><strong>Q: トーナメントのために最初から3つのデータセンターすべてにキャラクターを作る必要がありますか？</strong></p>

            <p>A: いいえ、トーナメント開始時に必要なキャラクターは1体のみです。もしあなたのチームが予選を勝ち抜いて
                <em>The Fest World Cup</em>本戦に参加する場合は本戦までに2週間（日本は1週間）の猶予があります。
                その間に本戦の試合で使用するために他のデータセンターにキャラクターを作成していただきます。ただし、
                <strong>欧州チーム</strong>と<strong>日本チーム</strong>は<strong><u>Aether</u> データセンターに
                キャラクターを1つ</strong>作っていただければOKです。
            </p>
            <hr>

            <p class="mb-1"><strong>Q: 回線遅延のせいで特定のリージョン同士の試合で不公平なマッチングが発生すると思われますがどのようにバランスを取るのでしょうか？</strong></p>
            <p>A: The Feast World Cup 本戦におけるすべての試合は Best-of-3 (3試合制2本先取)、ただしグランドファイナルのみ Best-of-5 (5試合制3本先取)、で行われます。
                <strong><u>北米チーム VS 日本チーム</u></strong>と<strong><u>北米チーム VS 欧州チーム</u></strong>の試合は、
                それぞれのデータセンター (例: 1ゲーム目は Aether (北米)、2ゲーム目は Chaos (欧州)、<u>3ゲーム目は /random コマンドでより大きい数値を
                出したチームのホームのデータセンター</u>) で行います。<strong><u>欧州チーム VS 日本チーム</u></strong>の試合は、
                両者のホームのデータセンターにて試合を行うと特に回線遅延問題が大きく出るため、Aether (北米) データセンターにて行います。</p>
            <hr>

            <p class="mb-1"><strong>Q: The Feast World Cup に参加したいのですが、キャラクターが Gaia
                / Elemental / Primal にしかいません。どうやって参加したらよいでしょうか？</strong></p>
            <p>A: どのデータセンターでトーナメントを開催するかは慎重に考慮し、Aether、Chaos、Mana が最もPvPプレイヤーの人口が
                多いと判断し決定しました。もしトーナメントに参加する場合はこれらのデータセンターにキャラクターを作成する必要があります。</p>

            <hr>

            <p class="mb-1"><strong>Q: トーナメントの賞品はどのようなものを考えていますか？</strong></p>
            <p>A: <u>地域予選</u>においては、レベルブーストアイテムまたはストーリースキップアイテムの
                いずれか1つを最終予選1位通過チームのメンバーそれぞれに進呈いたします。</p>
            <p><em>The Feast World Cup</em> 本戦の優勝チームには賞品としてトロフィーと $2,000 USD に加えて
                <a href="/world-cup/contribute">賞金プールへの寄付金</a>を <em>The Feast World Cup</em> の
                勝者へ贈呈いたします。</p>
            <hr>

            <p class="mb-1"><strong>Q: 賞品に金銭的なもの以外で何か寄与することはできますか？</strong></p>
            <p>A: はい！私たちは賞品となり得るものはどのような形態のものでも受け付けています！
                金銭以外での貢献・支援をお考えの方は <a href="mailto:pvpaissa@gmail.com">pvpaissa@gmail.com</a> までご連絡ください。</p>
            <hr>

            <p class="mb-1"><strong>Q: トーナメントに参加したいのですがスケジュール上で都合の悪い日があります。
                スケジュールの変更は可能ですか？</strong></p>
            <p>A: 申し訳ありませんが、トーナメントの開催日付は変更することはできません。しかし、トーナメントの開催予定時間の範囲内では時間を
                調整することができます。もし都合の悪い時間/調整可能な時間帯がある場合はなるべく早く地域ごとの運営メンバーやスタッフへお知らせください。</p>
            <hr>

            <p class="mb-1"><strong>Q: なぜ “The Feast World Cup: 本戦 - グループステージ” の形式を
                変更したのでしょうか？</strong></p>
            <p>A: 私たちはスケジュール上、それぞれのチームが Best-of-3 (3試合制2本先取) を5回行うよりも2回だけ行うように縮小する方が良いと考え、
                "6チームからなる2グループ"から"3チームから成る4グループ"へと形式を変更しました。
                タイムゾーンの差異を考えた場合、そちらの方がスケジュールを組みやすいと判断し変更しました。</p>
            <hr>

            <p class="mb-1"><strong>Q: なぜ<u>北米チーム VS 欧州チーム</u>と<u>北米チーム VS 日本チーム</u>のゲームの3戦目は
                ゲーム内コマンドの /random で決定するのでしょうか？</strong></p>
            <p>A: 私たちにとってもこれは少し難しい決断でした。試合の勝者が決まる最後のゲームにおいて試合を行うデータセンターを
                ランダム (例: ランダムコマンドやコイントスなど) に決定するかまたは地域予選をより良い順位で抜けたチームにアドバンテージを
                持たせるか (例: 北米1位のチーム VS 欧州2位のチームの3戦目を北米サーバーで行う) のいずれかの選択肢がありました。
                しかし、より良い順位のチームにアドバンテージを持たせる方式にした場合、同じ成績 (例: 北米2位のチーム VS 欧州2位のチーム) の
                チーム同士がマッチングした場合に公平になるようにランダムに決める必要があります。慎重にこれらの選択肢を考慮した結果、
                <u>北米チーム VS 欧州チーム</u>と<u>北米チーム VS 日本チーム</u>の3ゲーム目を /random コマンドにて決定する方式にするのが
                ベストという結論にいたりました。これは Best-of-3 (3試合制2本先取) の3戦目または Best-of-5 (5試合制3本先取) の5戦目のみに
                適用されます。<u>欧州チーム VS 日本チーム</u>の試合は何試合目かにかかわらず全て Aether データセンター上にて行われる
                ことにご注意ください。</p>
        </div>
    </div>

    <p class="small text-center">
        <small>{{ "now"|date("Y") }} <a href="/">PvPaissa</a>. All rights reserved.</small>
    </p>
</div>