<div class="cup-content col-lg-8 offset-lg-2 py-3 bg-cup">
    <h1>The Feast World Cup チーム登録</h1>

    <div class="cup-header-wrapper">
        <img class="cup-header-logo" src="/plugins/cleanse/worldcup/assets/images/logo-62-65.png"/>
        <h3 class="cup-header">2019年4月12日までにサインアップ</h3>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <div class="register-button">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSejYfKZ3cr42I_Bj4FaVL-ZrlPu7T6Rw1M8vgSJIoZOaimYmg/viewform"
                   target="_blank">
                    <img class="img-responsive" src="/plugins/cleanse/worldcup/assets/images/register-jp.jpeg"></a>
            </div>
            <p class="card-text text-center mt-3">
                <em>上記イメージをクリックするとチーム登録用のGoogleフォームページが開きます。</em>
            </p>
        </div>
    </div>

    {% partial __SELF__~'::_footer' %}
</div>