<div class="cup-content col-lg-8 offset-lg-2 py-3 bg-cup">
    <div class="text-center">
        <h1>Contribute</h1>
        <div class="d-flex flex-column text-center mb-3 contribute-wrapper">
            <div class="contribute-top">
                <p>
                    All donations go towards prizes for <em>The Feast World Cup</em> tournament.
                </p>
                <a href="https://www.paypal.com/pools/c/8cmBLR4BJ8" target="_blank">
                    <img class="img-fluid" src="/plugins/cleanse/worldcup/assets/images/donate-en.jpeg">
                </a>

                <p>If you would like to contribute in a non-monetary manner, please
                    <a href="mailto:PvPaissa@gmail.com">email us (PvPaissa@gmail.com).</a></p>
            </div>

            <div class="back-to mt-auto">
                <a class="btn btn-primary" href="/world-cup">Back to The Feast World Cup Website</a>
            </div>
        </div>
    </div>

    <div class="mt-5">
        <p class="small text-center">
            <small>{{ "now"|date("Y") }} <a href="/">PvPaissa</a>. All rights reserved.</small>
        </p>
    </div>
</div>