<div class="cup-content col-lg-8 offset-lg-2 py-3 bg-cup">
    <div class="text-center">
        <h1>大会への寄付</h1>
        <div class="d-flex flex-column text-center mb-3 contribute-wrapper">
            <div class="contribute-top">
                <p>
                    寄付はすべて <em>The Feast World Cup</em> トーナメントの賞品へ充てられます。<br>
                    金銭以外での貢献・支援をお考えの方は <a href="mailto:pvpaissa@gmail.com">pvpaissa@gmail.com</a> までご連絡ください。
                </p>
                <a href="https://www.paypal.com/pools/c/8cmBLR4BJ8" target="_blank">
                    <img class="img-fluid" src="/plugins/cleanse/worldcup/assets/images/donate-jp.png">
                </a>
            </div>

            <div class="back-to mt-auto">
                <a class="btn btn-primary" href="/world-cup">The Feast World Cup ウェブサイトに戻る</a>
            </div>
        </div>
    </div>

    {% partial __SELF__~'::_footer' %}
</div>