<div class="cup-content col-lg-8 offset-lg-2 py-3 bg-cup">
    <div class="text-center">
        <h1>寄付する</h1>
        <div class="d-flex flex-column text-center mb-3 contribute-wrapper">
            <div class="contribute-top">
                <p>
                    すべての寄付は<em>The Feast World Cup</em>トーナメントの賞金に向けられます<br>
                    金銭以外での貢献・支援をお考えの方は pvpaissa@gmail.com までご連絡ください
                </p>
                <a href="https://www.paypal.com/pools/c/8cmBLR4BJ8" target="_blank">
                    <img class="img-fluid" src="/plugins/cleanse/worldcup/assets/images/donate-jp.png">
                </a>
            </div>

            <div class="back-to mt-auto">
                <a class="btn btn-primary" href="/world-cup">The Feast World Cupウェブサイトに戻る</a>
            </div>
        </div>
    </div>

    <div class="mt-5">
        <p class="small text-center">
            <small>{{ "now"|date("Y") }} <a href="/">PvPaissa</a>. All rights reserved.</small>
        </p>
    </div>
</div>