{{ form_open({ request: __SELF__~'::onAddRecruit' }) }}
    <div style="display: none;">
        <input type="text" name="email" value="">
    </div>

    <div class="form-group">
        <label for="name">キャラクター名</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Your character name.">
    </div>

    <div class="form-group">
        <label for="region">リージョン</label>
        <select class="form-control" name="region" id="region">
            <option value="">Select a region...</option>
            <option value="eu">欧州</option>
            <option value="jp">日本</option>
            <option value="na">北米</option>
        </select>
    </div>

    <div class="form-group">
        <p class="mb-0">プレイ可能ロール</p>
        <div class="form-check form-check-inline">
            <input class="form-check-input" name="roles[]" type="checkbox" id="tankCheckbox" value="tank">
            <label class="form-check-label" for="tankCheckbox">タンク</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" name="roles[]" type="checkbox" id="healerCheckbox" value="healer">
            <label class="form-check-label" for="healerCheckbox">ヒーラー</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" name="roles[]" type="checkbox" id="meleeCheckbox" value="melee">
            <label class="form-check-label" for="meleeCheckbox">メレー</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" name="roles[]" type="checkbox" id="rangedCheckbox" value="ranged">
            <label class="form-check-label" for="rangedCheckbox">レンジ</label>
        </div>
    </div>

    <div class="form-group">
        <label for="availability">活動可能時間</label>
        <textarea class="form-control" id="availability" name="availability"></textarea>
    </div>

    <div class="form-group">
        <label for="contact">連絡方法</label>
        <textarea class="form-control" id="contact" name="contact"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">登録</button>
{{ form_close() }}