{{ form_open({ request: __SELF__~'::onAddRecruit' }) }}
    <div style="display: none;">
        <input type="text" name="email" value="">
    </div>

    <div class="form-group">
        <label for="name">Character Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Your character name.">
    </div>

    <div class="form-group">
        <label for="region">Which region are you from?</label>
        <select class="form-control" name="region" id="region">
            <option value="">Select a region...</option>
            <option value="eu">Europe</option>
            <option value="jp">Japan</option>
            <option value="na">North America</option>
        </select>
    </div>

    <div class="form-group">
        <p class="mb-0">What role(s) do you prefer playing?</p>
        <div class="form-check form-check-inline">
            <input class="form-check-input" name="roles[]" type="checkbox" id="tankCheckbox" value="tank">
            <label class="form-check-label" for="tankCheckbox">Tank</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" name="roles[]" type="checkbox" id="healerCheckbox" value="healer">
            <label class="form-check-label" for="healerCheckbox">Healer</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" name="roles[]" type="checkbox" id="meleeCheckbox" value="melee">
            <label class="form-check-label" for="meleeCheckbox">Melee</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" name="roles[]" type="checkbox" id="rangedCheckbox" value="ranged">
            <label class="form-check-label" for="rangedCheckbox">Ranged</label>
        </div>
    </div>

    <div class="form-group">
        <label for="availability">What is your time availability?</label>
        <textarea class="form-control" id="availability" name="availability"></textarea>
    </div>

    <div class="form-group">
        <label for="contact">How can people contact you?</label>
        <textarea class="form-control" id="contact" name="contact"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit Character</button>
{{ form_close() }}