<div class="d-flex flex-row-reverse">
    {{ form_ajax('onDeleted', { confirm: 'Really delete this record?' }) }}
    <input type="hidden" name="id" value="{{ recruit.id }}">
    <button type="submit" class="btn btn-danger btn-sm mr-2">
        Remove My Character</button>
    {{ form_close() }}

    {{ form_ajax('onRecruited') }}
    <input type="hidden" name="id" value="{{ recruit.id }}">
    <input type="hidden" name="recruited" value="{{ recruit.recruited }}">
    {% if recruit.recruited == 0 %}
    {% set status = 'Found a team?' %}
    {% else %}
    {% set status = 'Need a team?' %}
    {% endif %}
    <button type="submit" class="btn btn-warning btn-sm mr-1">{{ status }}</button>
    {{ form_close() }}
</div>

{{ form_open({ request: __SELF__~'::onUpdateRecruit' }) }}
<input type="hidden" name="id" value="{{ cookie }}">

<div class="form-group">
    <label for="name">Character Name</label>
    <input type="text" class="form-control" id="name" name="name" value="{{ recruit.name }}">
</div>

<div class="form-group">
    <label for="region">Which region are you from?</label>
    <select class="form-control" name="region" id="region">
        <option value="">Select a region...</option>
        <option value="eu"{% if recruit.region == 'eu' %} selected{% endif %}>Europe</option>
        <option value="jp"{% if recruit.region == 'jp' %} selected{% endif %}>Japan</option>
        <option value="na"{% if recruit.region == 'na' %} selected{% endif %}>North America</option>
    </select>
</div>

<div class="form-group">
    <p class="mb-0">What role(s) do you prefer playing?</p>
    <div class="form-check form-check-inline">
        <input class="form-check-input" name="roles[]" type="checkbox" id="tankCheckbox"
               value="tank"{% if 'tank' in recruit.roles %} checked{% endif %}>
        <label class="form-check-label" for="tankCheckbox">Tank</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" name="roles[]" type="checkbox" id="healerCheckbox"
               value="healer"{% if 'healer' in recruit.roles %} checked{% endif %}>
        <label class="form-check-label" for="healerCheckbox">Healer</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" name="roles[]" type="checkbox" id="meleeCheckbox"
               value="melee"{% if 'melee' in recruit.roles %} checked{% endif %}>
        <label class="form-check-label" for="meleeCheckbox">Melee</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" name="roles[]" type="checkbox" id="rangedCheckbox"
               value="ranged"{% if 'ranged' in recruit.roles %} checked{% endif %}>
        <label class="form-check-label" for="rangedCheckbox">Ranged</label>
    </div>
</div>

<div class="form-group">
    <label for="availability">What is your time availability?</label>
    <textarea class="form-control" id="availability" name="availability">{{ recruit.availability }}</textarea>
</div>

<div class="form-group">
    <label for="contact">How can people contact you?</label>
    <textarea class="form-control" id="contact" name="contact">{{ recruit.contact_method }}</textarea>
</div>

<button type="submit" class="btn btn-primary">Update Information</button>
{{ form_close() }}