<div id="home" class="cup-content col-lg-8 offset-lg-2 py-3 bg-cup">
    <h1>The Feast World Cup</h1>

    <div class="cup-header-wrapper">
        <img class="cup-header-logo" src="/plugins/cleanse/worldcup/assets/images/logo-62-65.png"/>
        <h3 class="cup-header">What Is The Feast World Cup?</h3>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <div class="embed-responsive embed-responsive-16by9 mb-3">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/QrKW1Ca8glU" frameborder="0"
                        allowfullscreen></iframe>
            </div>
            <p class="card-text">
                <strong>The Feast World Cup</strong> is a community-run tournament hosted by PvPaissa that puts PvP
                Teams from North America, Europe, and Japan head-to-head to face off with the best teams in each region!
                Ever since the Feast Regional Championships (FRC) hosted by
                <a href="//www.square-enix.com/" target="_blank">Square Enix</a> and the
                <a href="//www.finalfantasyxiv.com/" target="_blank">Final Fantasy XIV (FFXIV)</a> team, the community
                has taken notice of the effort they are making to become an e-sport. To end off the 2<sup>nd</sup>
                FFXIV expansion with a bang, <em>The Feast World Cup</em> will be a large event that will
                commence between the Japan FRC and the 3<sup>rd</sup> FFXIV expansion (late April – May). Building off
                from the FRC, all registered teams will have a chance to compete for a spot in The Feast World Cup and
                win a custom trophy as well as a $2,000 USD + crowdfunded prize pool!
            </p>
            <p class="card-text">Registrations are open now and will be open until April 12<sup>th</sup>, 2019.</p>
            <div class="register-button">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSfbwtHE10bTzyLpDVZwWlDPc0S5iayJWS1St393yw5zMoKioA/viewform">
                    <img class="img-responsive" src="/plugins/cleanse/worldcup/assets/images/register-en.jpeg"></a>
            </div>
            <p class="card-text text-center mt-3">
                <em>Clicking the image above will open the Google document signup form.</em>
            </p>
        </div>
    </div>

    <div class="cup-header-wrapper">
        <img class="cup-header-logo" src="/plugins/cleanse/worldcup/assets/images/logo-62-65.png"/>
        <h3 class="cup-header">Tournament Format</h3>
    </div>
    <div class="card mb-1">
        <div class="card-body">
            <p class="card-text">
                The Data Centers that will be used for the tournament are: <strong>Aether for North America, Chaos for
                Europe and Mana for Japan</strong>.
            </p>
        </div>
    </div>
    <div class="card mb-1">
        <div class="card-body">
            <h5 class="card-title">
                The Feast World Cup – NA/EU/JP Regional Qualifiers (April 19, 2019 - May 4, 2019)
            </h5>
            <ul>
                <li>
                    Group Stage (April 19, 2019 - May 3, 2019)
                    <ul>
                        <li>Teams will be randomly placed into Groups.</li>
                        <li>Best-of-3 Round Robin with all teams in your respective group.</li>
                        <li>Top teams from each group will qualify for the Playoff Stage.</li>
                        <li>Group Stage will only occur if more than 8 teams are registered.</li>
                        <li>Format will change based on number of teams registered.</li>
                    </ul>
                </li>
                <li>
                    Playoff Stage (May 4, 2019)
                    <ul>
                        <li>Top 8 teams from the Group Stage will be facing off based on seeding in Group Stage.</li>
                        <li>Top 4 teams will be seeded from #1-#4 and qualify for <a href="#main-event">The Feast World
                            Cup: Main Event</a>.</li>
                        <li>Best-of-3 single-elimination bracket.</li>
                        <li>
                            Date & Time:
                            <ul>
                                <li><strong>JP – May 11, 2019 @ 8 PM JST</strong></li>
                                <li><strong>EU – May 4, 2019 @ 8 PM GMT</strong></li>
                                <li><strong>NA – May 4, 2019 @ 7 PM PST</strong></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="card mb-1">
        <div class="card-body">
            <h5 class="card-title">
                The Feast World Cup: Main Event (May 17, 2019 – May 18, 2019; May 24, 2019 – May 25, 2019)
            </h5>
            <ul id="main-event">
                <li>
                    Group Stage (May 17, 2019 – May 18, 2019)
                    <ul>
                        <li>
                            Top 4 teams from NA, EU and JP Regional Qualifiers (12 Teams total) will be seeded into 4
                            groups of 3 teams.
                        </li>
                        <li>Best-of-3 Round Robin with all teams in your respective group.</li>
                        <li>Top 2 from each group (8 teams) will be seeded #1 and #2 based on win/loss record within
                            your group and advance to The Feast World Cup: Main Event - Playoff Stage.</li>
                        <li>
                            Date & Time:
                            <ul>
                                <li><strong>Group 1 – May 17, 2019 @ TBD</strong></li>
                                <li><strong>Group 2 – May 18, 2019 @ TBD</strong></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    Playoff Stage (May 24, 2019 – May 25, 2019)
                    <ul>
                        <li>
                            Top 2 teams from each group (8 teams) in 'The Feast World Cup Main Event - Group Stage' will
                            advance to The Feast World Cup Main Event - Playoff Stage and face off based on seeding.
                        </li>
                        <li>Best-of-3 double elimination bracket, Grand Finals best-of-5.</li>
                        <li>
                            Date & Time:
                            <ul>
                                <li>
                                    Winner’s Quarterfinals, Loser’s Playoffs, Winner’s Semifinals – <u>May 24, 2019 @
                                    TBD</u>
                                </li>
                                <li>
                                    Loser’s Quarterfinals, Loser’s Semifinals, Winner’s Finals, Loser’s Finals and
                                    Grand Finals – <strong>May 25, 2019 @ TBD</strong>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="cup-header-wrapper">
        <img class="cup-header-logo" src="/plugins/cleanse/worldcup/assets/images/logo-62-65.png"/>
        <h3 class="cup-header">Where Can I Watch?</h3>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <p class="card-text">
                You will be able to watch <em>The Feast World Cup</em> on the
                <a href="//www.twitch.tv/pvpaissa">PvPaissa Twitch Channel</a>.
            </p>
            <div class="nav nav-pills d-flex-inline">
                <div class="nav-item register-item">
                    <a class="nav-link register-link active"
                       href="//www.twitch.tv/pvpaissa"
                       target="_blank">Go to the PvPaissa Twitch Channel</a>
                </div>
            </div>
        </div>
    </div>

    <p class="small text-center">
        <small>{{ "now"|date("Y") }} <a href="/">PvPaissa</a>. All rights reserved.</small>
    </p>
</div>