<div id="home" class="cup-content col-lg-8 offset-lg-2 py-3 bg-cup">
    <h1>The Feast World Cup</h1>

    <div class="cup-header-wrapper">
        <img class="cup-header-logo" src="/plugins/cleanse/worldcup/assets/images/logo-62-65.png"/>
        <h3 class="cup-header">The Feast World Cupとは？</h3>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <div class="embed-responsive embed-responsive-16by9 mb-3">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/QrKW1Ca8glU" frameborder="0"
                        allowfullscreen></iframe>
            </div>
            <p class="card-text">
                <strong>The Feast World Cup</strong>は北米、欧州、日本の各リージョンごとのチームがぶつかり合い強者を決める、PvPaissa主催のユーザーコミュ
                ニティによって運営されるトーナメントです！The FEASTリージョンチャンピオンシップ (FRC) が<a href="//www.square-enix.com/" target="_blank">Square
                Enix</a>と<a href="//www.finalfantasyxiv.com/" target="_blank">Final Fantasy XIV (FFXIV)</a>チームによって
                開催されて以来、我々コミュニティは彼らがe-sportを作ろうと努めていることに注目しています。2回目の拡張・紅蓮のリベレーターを盛大
                に締めくくるために私たちは日本のFRCと3回目の拡張・漆黒のヴィランズの間の期間に大きなイベントを開催する予定です。
                全てのチームに本戦出場の席を奪い合い、そして賞金の $2,000 USD を掴み取るチャンスがあります！
            </p>
            <p class="card-text">チーム登録は2019年の4月12日まで受け付けています。</p>
            <div class="register-button">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSejYfKZ3cr42I_Bj4FaVL-ZrlPu7T6Rw1M8vgSJIoZOaimYmg/viewform">
                    <img class="img-responsive" src="/plugins/cleanse/worldcup/assets/images/register-jp.jpeg"></a>
            </div>
            <p class="card-text text-center mt-3">
                <em>上記イメージをクリックするとチーム登録用のGoogleフォームページが開きます。</em>
            </p>
        </div>
    </div>

    <div class="cup-header-wrapper">
        <img class="cup-header-logo" src="/plugins/cleanse/worldcup/assets/images/logo-62-65.png"/>
        <h3 class="cup-header">トーナメント形式</h3>
    </div>
    <div class="card mb-1">
        <div class="card-body">
            <p class="card-text">
                トーナメントで使用されるデータセンターは<strong>Aether（北米）、Chaos（欧州）、Mana（日本）</strong>です。
            </p>
        </div>
    </div>
    <div class="card mb-1">
        <div class="card-body">
            <h5 class="card-title">
                The Feast World Cup – 北米/欧州/日本 地域予選 (2019年4月19 – 2019年5月3日)
            </h5>
            <ul>
                <li>
                    グループステージ(2019年4月19日 – 2019年5月3日, 日本のみ 2019年4月19日 – 2019年5月10日)
                    <ul>
                        <li>各チームをランダムにそれぞれのグループに振り分け</li>
                        <li>2本先取制の総当たり戦</li>
                        <li>各グループの上位チームがプレイオフステージへ進出</li>
                        <li>グループステージは出場チーム数が8チーム以上の場合のみ行います
                            <ul>
                                <li>試合形式は出場チーム数によって変更されます</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    プレイオフステージ(2019年5月4日, 日本のみ 2019年5月11日)
                    <ul>
                        <li>グループステージの上位8チームをグループステージの結果に基づき振り分け</li>
                        <li>上位4チームは地域予選トーナメントの #1-#4 に振り分けられる</li>
                        <li>2本先取制のシングルエリミネーション方式</li>
                        <li>
                            日時:
                            <ul>
                                <li><strong>日本 – 2019年5月11日@ 8 PM JST (日本時間)</strong></li>
                                <li><strong>欧州 – 2019年5月4日@ 8 PM GMT (グリニッジ標準時)</strong></li>
                                <li><strong>北米 – 2019年5月4日@ 7 PM PST (米国太平洋標準時)</strong></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="card mb-1">
        <div class="card-body">
            <h5 class="card-title">
                The Feast World Cup 本戦 (2019年5月17日– 2019年5月18日・ 2019年5月24日– 2019年5月25日)
            </h5>
            <ul>
                <li>
                    グループステージ (2019年5月17日– 2019年5月18日)
                    <ul>
                        <li>
                            北米、欧州、日本それぞれの上位4チーム (合計12チーム) を4つのグループに振り分け (1グループあたり3チーム)
                        </li>
                        <li>各グループごとに2本先取制の総当たり戦</li>
                        <li>各グループの上位2チームは勝敗数に基づいて The Feast World Cup: 本戦 - プレイオフステージのトーナメント #1-#2 に振り分けられる</li>
                        <li>
                            日時:
                            <ul>
                                <li><strong>グループ 1 – 2019年5月17日@ TBD (未定)</strong></li>
                                <li><strong>グループ 2 – 2019年5月18日@ TBD (未定)</strong></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    プレイオフステージ(2019年5月24日– 2019年5月25日)
                    <ul>
                        <li>
                            The Feast World Cup: 本戦 - グループステージの各グループ上位2チーム (合計8チーム) をグループステージの結果に基づき振り分け
                        </li>
                        <li>2本先取制のダブルエリミネーション方式、グランドファイナルのみ3本先取制</li>
                        <li>
                            日時:
                            <ul>
                                <li>
                                    ウィナーズ準々決勝、ルーザーズプレイオフ、ウィナーズ準決勝 – <u>2019年5月24日@ TBD (未定)</u>
                                </li>
                                <li>
                                    ルーザーズ準々決勝、ルーザーズ準決勝、ウィナーズ決勝、ルーザーズ決勝、グランドファイナル – <strong>2019年5月25日@ TBD (未定)</strong>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="cup-header-wrapper">
        <img class="cup-header-logo" src="/plugins/cleanse/worldcup/assets/images/logo-62-65.png"/>
        <h3 class="cup-header">観戦方法</h3>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <p class="card-text">
                <em>The Feast World Cup</em> は
                <a href="//www.twitch.tv/pvpaissa">PvPaissa Twitch Channel</a> にて視聴可能です。
            </p>
            <div class="nav nav-pills d-flex-inline">
                <div class="nav-item register-item">
                    <a class="nav-link register-link active"
                       href="//www.twitch.tv/pvpaissa"
                       target="_blank">PvPaissa Twitch</a>
                </div>
            </div>
        </div>
    </div>

    <p class="small text-center">
        <small>{{ "now"|date("Y") }} <a href="/">PvPaissa</a>. All rights reserved.</small>
    </p>
</div>