<div id="rule-changes" class="card-footer text-muted">
    <p class="text-center"><em>Updated: Feb. 24, 2019</em></p>
    <ul class="text-monospace" style="font-size: .8rem;">
        <li>Added a base prize and moved over to a transparent contribution program (PayPal Pools).</li>
        <li>
            <del>Sign Up By March 31<sup>st</sup>, 2019</del> -> <ins>Sign Up By April 12<sup>th</sup>, 2019</ins>
        </li>
        <li><del>The tournament organizers may deem participation ineligible if player(s) are actively breaching
            Final Fantasy XIV Terms of Service.</del> -> <ins>If you have an active and eligible FFXIV account, you are
            eligible to participate in the tournament.</ins></li>
        <li>
            Clarified how we will be handling the "ping" between different regions.
            <a href="#ping-issues">View here.</a>
        </li>
        <li>To welcome the up-and-coming teams, the Rising Stars tournament winner will get an NA slot invite.
            <a href="#invited-teams">Rising Stars Auto-Invite</a></li>
    </ul>
</div>