<div id="rule-changes" class="card-footer text-muted">
    <p class="text-center"><em>Update: March 15, 2019</em></p>
    <ul class="text-monospace" style="font-size: .8rem;">
        <li>Base Prize Pool increased to $2,000 USD.</li>
        <li>Major Regional Qualifier tournament removed, Minor Regional Qualifier now named "Regional Qualifiers" and
            will be the only Regional Qualifier all teams play in to qualify for The Feast World Cup: Main Event.</li>
        <li>FRC invitations removed. All registered teams must start from the beginning of the tournament and register
            through the registration form to confirm participation.</li>
        <li>Regional Qualifier - Group Stage will only occur as a preliminary if more than 8 teams are registered
            (per region).</li>
        <li>Europe PvP Teams vs Japan PvP Teams matches will all be played on the Aether Datacenter.
            <a href="/world-cup/faq">Read FAQ</a> for more information.</li>
        <li>As a result of the previous change, Europe PvP Teams and Japan PvP Teams that qualify for The Feast World
            Cup: Main Event will only be required to make 1 additional PvP-eligible character on the Aether Datacenter.
        </li>
        <li>The Feast World Cup: Main Event Group Stage format adjusted (from 2 groups of 6 teams to 4 groups of 3
            teams). Read FAQ for more information.</li>
        <li>Tournament dates slightly adjusted following tournament format changes.</li>
    </ul>
    <p class="text-center"><em>Update: Feb. 24, 2019</em></p>
    <ul class="text-monospace" style="font-size: .8rem;">
        <li>Added a base prize and moved over to a transparent contribution program (PayPal Pools).</li>
        <li>
            <del>Sign Up By March 31<sup>st</sup>, 2019</del> -> <ins>Sign Up By April 12<sup>th</sup>, 2019</ins>
        </li>
        <li><del>The tournament organizers may deem participation ineligible if player(s) are actively breaching
            Final Fantasy XIV Terms of Service.</del> -> <ins>If you have an active and eligible FFXIV account, you are
            eligible to participate in the tournament.</ins></li>
        <li>
            Clarified how we will be handling the "ping" between different regions.
            <a href="#ping-issues">View here.</a>
        </li>
        <li>To welcome the up-and-coming teams, the Rising Stars tournament winner will get an NA slot invite.
            <a href="#invited-teams">Rising Stars Auto-Invite</a></li>
    </ul>
</div>