<div class="cup-content col-lg-8 offset-lg-2 py-3 bg-cup">
    <div class="cup-intro">
        <h1>The Feast World Cup Rules</h1>
        <p class="card-text text-center"><em>Updated: April 5, 2019 - <a href="#rule-changes">View Changes</a></em></p>
    </div>

    <div class="cup-header-wrapper">
        <img class="cup-header-logo" src="/plugins/cleanse/worldcup/assets/images/logo-62-65.png"/>
        <h3 class="cup-header">Eligibility</h3>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <ul>
                <li>
                    All teams that wish to participate must register through the registration form
                    <a href="/world-cup/register">here<img
                            src="/plugins/cleanse/worldcup/assets/images/external-link.png"></a>.
                    <ul>
                        <li>Registration will be open from date of announcement to April 12, 2019.</li>
                    </ul>
                </li>
                <li>
                    Must have a PvP-eligible character (level 30) on Aether, Chaos or Mana for Regional Qualifiers
                    depending on the region you are participating in.
                </li>
                <li>
                    Must have a PvP-eligible character (level 30) on Aether, Chaos and Mana for <em>The Feast World
                    Cup</em> Main Event (May 17, 18, 24, and 25, 2019) <strong>ONLY</strong> if your PvP Team qualifies
                    from the Major Qualifiers.
                    <ul>
                        <li>You will be given 2 weeks after the 'Regional Qualifiers' to create and set-up characters
                            on other participating data-centers for The Feast World Cup: Main Event.</li>
                        <li>Qualifying Europe and Japan PvP teams will only need to create one additional character on
                            Aether</li>
                    </ul>
                </li>
                <li>Each person may only participate in one (1) region.</li>
                <li>Must not be participating in multiple PvP Teams.</li>
                <li>
                    The supported languages for the duration of the tournament will be English and Japanese. Other
                    languages are welcome but information regarding the tournament will be only English and Japanese.
                </li>
                <li>
                    Must be able to attend all dates and times allocated for the tournament.
                    <ul>
                        <li>Failure to make it to your scheduled match time will result in a forfeit for the whole
                            series (a “series” is a complete best-of-3 or best-of-5 set of matches).</li>
                    </ul>
                </li>
                <li>The Team Leader and Sub Leader must have a Discord account (Voice communication program),
                    additional team members are optional.</li>
                <li>There is no country restriction; as long as you have participating characters on designated data
                    centers you meet regional eligibility</li>
                <li>If you have an active and eligible FFXIV account, you are eligible to participate in the
                    tournament.</li>
            </ul>
        </div>
    </div>

    <div class="cup-header-wrapper">
        <img class="cup-header-logo" src="/plugins/cleanse/worldcup/assets/images/logo-62-65.png"/>
        <h3 class="cup-header">General Rules</h3>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <ul>
                <li>A “team” must consist of a Tank, Healer, Melee DPS and Ranged DPS.</li>
                <li>You do not have to be registered in the “PvP Team” system designed in FFXIV.</li>
                <li>Any name changes or world transfers of your characters during the commencement of the tournament
                    MUST be notified to a Regional Representative. Failure to do so may result in ineligibility to
                    participate in your team.</li>
                <li>
                    Names of your characters on other eligible regional data centers do not have to match your
                    originating data center character name but must be declared what the name and world is.
                    <ul>
                        <li>An additional form will be sent to all teams qualified for <em>The Feast World Cup</em>:
                            Main Event after the Regional Qualifiers.</li>
                    </ul>
                </li>
                <li>
                    Teams may swap members and roles within a best-of-three or a best-of-five match but must be
                    completely swapped within 2 minutes upon ending the previous match.
                    <ul>
                        <li>“Completely swapped” is defined as the substitution player is in the party finder (PF) and
                            confirmed as ready in a ready check. </li>
                    </ul>
                </li>
                <li>
                    Any third-party programs that provide unfair advantages to ANY matches in <em>The Feast World Cup</em> are
                    prohibited.
                    <ul>
                        <li>To help combat ping-related issues, Virtual Private Networks (VPNs) are allowed.</li>
                        <li>Voice communication programs are permitted for use.</li>
                    </ul>
                </li>
                <li>
                    In <em>The Feast World Cup</em>: Main Event, qualified teams will play in all 3 regional
                    data centers (Aether, Chaos, Mana) depending on the match-up.
                    <ul>
                        <li>I.e. If a North American PvP team seeded #2 in the North American Regional Qualifiers plays
                            a Japan PvP team seeded #1 in the Japan Regional Qualifiers, Game 1 will be played on Mana
                            and Game 2 will be played on Aether. Game 3 will be decided by a /random.</li>
                    </ul>
                </li>
                <li>If there is evidence of teams practicing misconduct (i.e. wintrading, boosting, etc.) during the
                    tournament, the teams participating will be disqualified.</li>
                <li>In the event of a two-way tie in the group stages, the team that won the series between the two
                    tied teams will advance.</li>
                <li>
                    In the event of a three-way “rock-paper-scissors” tie in the group stages, the team with the most
                    accumulated medal counts from the three matches will advance.
                    <ul>
                        <li>If medals are still tied, a best-of-1 rematch will be played between the teams that are
                            tied.</li>
                    </ul>
                </li>
                <li>
                    Network issues are the sole responsibility of the individual players.
                    <ul>
                        <li>
                            If a disconnect happens mid-game:
                            <ul>
                                <li>If the disconnection happened between six (6) to five (5) minutes left on the
                                    match, one rematch will be played.</li>
                                <li>If the disconnection happened after the five (5) minute left mark on the match,
                                    the match will be played on.</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    In the case of a server-wide or data center-wide network issue, a rematch will be played
                    regardless, or postponed until the network issues have been alleviated.
                </li>
                <li id="ping-issues"><strong>In The Feast World Cup: Main Event</strong>, qualified teams will play in
                    all 3 regional data centers (Aether, Chaos, Mana) depending on the match-up.
                    <ul>
                        <li>
                            I.e. If a North American PvP team seeded #2 in the North American Major Qualifiers plays a
                            Japan PvP team seeded #1 in the Japan Major Qualifiers, Game 1 will be played on Mana and
                            Game 2 will be played on Aether.
                        </li>
                        <li>To combat ping issues, all "Europe vs. Japan" matches will be played on Aether.</li>
                        <li>
                            Because EU ping to Mana Datacenter and JP ping to Chaos Datacenter is higher than both EU
                            and JP ping to Aether Datacenter, we have decided it would be best to make this change.
                        </li>
                    </ul>
                </li>
                <li>For NA vs EU and NA vs JP matches, in the event of a Game 3 in a Best-of-3 or a Game 5 in a
                    Best-of-5, the Datacenter that this match will be played on will be decided by a /random in-game
                    between the two team leaders or sub-leaders. The team that rolls the highest /random number in-game
                    will have the match played on the winning team's data center. All potential BO3 and BO5 matches for
                    EU vs JP will be played on Aether.</li>
                <li>All participating players and teams must demonstrate good sportsmanship and fair play during the
                    duration of the tournament.</li>
            </ul>
        </div>
    </div>

    <div class="cup-header-wrapper">
        <img class="cup-header-logo" src="/plugins/cleanse/worldcup/assets/images/logo-62-65.png"/>
        <h3 class="cup-header">Tournament Rules</h3>
    </div>
    <div id="home" class="card mb-5">
        <div class="card-body">
            <ul>
                <li>
                    A Regional Qualifier tournament will be be first played in each region (North America, Europe,
                    Japan):
                    <ul>
                        <li>
                            These are region-specific tournaments and will be held on these data centers:
                            <ul>
                                <li>Aether for North America</li>
                                <li>Chaos for Europe</li>
                                <li>Mana for Japan</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <strong><em>The Feast World Cup</em>: Regional Qualifiers</strong>
                    <ul>
                        <li><em>The Feast World Cup</em>: Regional Qualifiers will be held from <u>April 19, 2019 to
                            May 4, 2019..</u></li>
                        <li>
                            Group Stage (<u>April 19, 2019 – May 3, 2019</u>)
                            <ul>
                                <li>Teams who registered through the registration form will be randomly seeded into
                                    groups.</li>
                                <li>Teams must meet eligibility criteria.</li>
                                <li>All teams will play a best-of-3 round robin within their own group scheduled at
                                    their own convenience.</li>
                                <li>Scheduled games between teams MUST be notified to Regional Representatives, and
                                    scoreboards must be recorded in the rare event of a tiebreaker.</li>
                            </ul>
                        </li>
                        <li>
                            Playoff Stage (May 11, 2019)
                            <ul>
                                <li>Registered teams will first face-off in the Playoff Stage of the Regional
                                    Qualifiers. The exact format of this tournament is subject to change depending on
                                    the number of teams registered.</li>
                                <li>Best-of-3 single-elimination bracket.</li>
                                <li>Teams who advance to the semi-finals (4 teams) will qualify for The Feast World
                                    Cup: Main Event.</li>
                                <li>Main event-qualified teams will continue to play in the Regional Qualifiers playoff
                                    bracket to get a seed # (1-4) for the The Feast World Cup: Main Event.</li>
                                <li><u>1st place prize for each region: One (1) level boost / story boost per person in
                                    your team, of your choice, to alleviate extra character leveling for The Feast
                                    World Cup Main Event.</u></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <strong><em>The Feast World Cup</em>: Main Event </strong>
                    <ul>
                        <li><em>The Feast World Cup</em>: Main Event will be held on the weekends of <u>May 17, 2019 to
                            May 25, 2019</u></li>
                        <li>This is a cross-region tournament and will require all qualified teams to play a portion of
                            their matches on Aether, Chaos or Mana.</li>
                        <li>
                            Group Stage (<u>May 17, 2019 to May 18, 2019</u>)
                            <ul>
                                <li>Top 4 teams from NA, EU and JP (12 Teams total) will be seeded into 4 groups of 3
                                    teams.</li>
                                <li>Seeding order will be determined after the Regional Qualifiers - Playoff
                                    Stage.</li>
                                <li>Best-of-3 Round Robin with all teams in your respective group.</li>
                                <li>
                                    Top 2 from each group (8 teams) will be seeded #1 and #2 in each group and advance
                                    to <em>The Feast World Cup</em>: Main Event - Playoff Stage.</li>
                            </ul>
                        </li>
                        <li>
                            Playoff Stage (<u>May 24, 2019 to May 25, 2019</u>)
                            <ul>
                                <li>Top 2 teams from each group (8 teams) in <em>The Feast World Cup</em>: Main Event -
                                    Group Stage will face off based on seeding.</li>
                                <li>Best-of-3 double elimination bracket, best-of-5 Grand Finals.</li>
                                <li>
                                    Grand Finals
                                    <ul>
                                        <li>The team that advances to the Grand Finals from the Loser’s bracket will
                                            have to win 2 sets of best-of-5 to win <em>The Feast World Cup</em>.</li>
                                        <li>The team that advances to the Grand Finals from the Winner’s bracket will
                                            have to win 1 set of best-of-5 to win <em>The Feast World Cup</em>.</li>
                                    </ul>
                                </li>
                                <li>
                                    Date & Time:
                                    <ul>
                                        <li>Winner’s Quarterfinals, Loser’s Playoffs, Winner’s Semifinals – <u>May 24,
                                            2019 @ TBD</u></li>
                                        <li>Loser’s Quarterfinals, Loser’s Semifinals, Winner’s Finals, Loser’s Finals
                                            and Grand Finals – <u>May 25, 2019 @ TBD</u></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            Prize: A trophy and <a href="/world-cup/contribute">minimum $2,000 USD Prize Money +
                            Crowdfunded Prize Pool</a>.
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        {% partial __SELF__~'::en_changes' %}
    </div>

    {% partial __SELF__~'::_footer' %}
</div>