<div class="cup-content col-lg-8 offset-lg-2 py-3 bg-cup">
    <div class="cup-intro">
        <h1>The Feast World Cup Rules</h1>
    </div>

    <div class="cup-header-wrapper">
        <img class="cup-header-logo" src="/plugins/cleanse/worldcup/assets/images/logo-62-65.png"/>
        <h3 class="cup-header">Eligibility</h3>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <ul>
                <li>
                    All teams that wish to participate must register through the registration form
                    <a class="badge badge-primary" href="/world-cup/register">here</a>.
                    <ul>
                        <li>Registration will be open from date of announcement to March 31, 2019.</li>
                    </ul>
                </li>
                <li>
                    Must have a PvP-eligible character (level 30) on Aether, Chaos or Mana for Minor Qualifiers and
                    Major Qualifiers depending on the region you are participating in.
                </li>
                <li>
                    Must have a PvP-eligible character (level 30) on Aether, Chaos and Mana for <em>The Feast World
                    Cup</em> Main Event (May 17, 18, 24, and 25, 2019) <strong>ONLY</strong> if your PvP Team qualifies
                    from the Major Qualifiers.
                    <ul>
                        <li>You will be given 2 weeks after the Major Qualifier to set-up characters on other data
                            centers.</li>
                    </ul>
                </li>
                <li>Each person may only participate in one (1) region.</li>
                <li>Must not be participating in multiple PvP Teams.</li>
                <li>
                    The supported languages for the duration of the tournament will be English and Japanese. Other
                    languages are welcome but information regarding the tournament will be only English and Japanese.
                </li>
                <li>
                    Must be able to attend all dates and times allocated for the tournament.
                    <ul>
                        <li>Failure to make it to your scheduled match time will result in a forfeit for the whole
                            series (a “series” is a complete best-of-3 or best-of-5 set of matches).</li>
                    </ul>
                </li>
                <li>The Team Leader and Sub Leader must have a Discord account (Voice communication program),
                    additional team members are optional.</li>
                <li>
                    Invited Feast Regional Championship (FRC) teams can add and/or substitute members from their FRC
                    roster, as long as the FRC team maintains at least 4 of 6 original members of the team.
                    <ul>
                        <li>Invited FRC teams include teams that qualified for the live tournaments.</li>
                        <li>These additions/substitutions must be finalized by March 31, 2019. No more changes to the
                            team rosters will be allowed afterwards.</li>
                    </ul>
                </li>
                <li>There is no country restriction; as long as you have participating characters on designated data
                    centers you meet regional eligibility</li>
            </ul>
        </div>
    </div>

    <div class="cup-header-wrapper">
        <img class="cup-header-logo" src="/plugins/cleanse/worldcup/assets/images/logo-62-65.png"/>
        <h3 class="cup-header">General Rules</h3>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <ul>
                <li>A “team” must consist of a Tank, Healer, Melee DPS and Ranged DPS.</li>
                <li>You do not have to be registered in the “PvP Team” system designed in FFXIV.</li>
                <li>Any name changes or world transfers of your characters during the commencement of the tournament
                    MUST be notified to a Regional Representative. Failure to do so may result in ineligibility to
                    participate in your team.</li>
                <li>
                    Names of your characters on other eligible regional data centers do not have to match your
                    originating data center character name but must be declared what the name and world is.
                    <ul>
                        <li>An additional form will be sent to all teams qualified for <em>The Feast World Cup</em>
                            main event after the Major Qualifiers.</li>
                    </ul>
                </li>
                <li>
                    Teams may swap members and roles within a best-of-three or a best-of-five match but must be
                    completely swapped within 2 minutes upon ending the previous match.
                    <ul>
                        <li>“Completely swapped” is defined as the substitution player is in the party finder (PF) and
                            confirmed as ready in a ready check. </li>
                    </ul>
                </li>
                <li>
                    Any third-party programs that provide unfair advantages to ANY matches in <em>The Feast World Cup</em> are
                    prohibited.
                    <ul>
                        <li>To help combat ping-related issues, Virtual Private Networks (VPNs) are allowed.</li>
                    </ul>
                </li>
                <li>The tournament organizers may deem participation ineligible if player(s) are actively breaching
                    Final Fantasy XIV Terms of Service.</li>
                <li>
                    In <em>The Feast World Cup</em>: Main Event, qualified teams will play in all 3 regional
                    data centers (Aether, Chaos, Mana) depending on the match-up.
                    <ul>
                        <li>I.e. If a Europe PvP team seeded #2 in the Europe Major Qualifiers plays a Japan PvP team
                            seeded #1 in the Japan Major Qualifiers, Game 1 will be played on Chaos and Game 2 and 3
                            will be played on Mana.</li>
                    </ul>
                </li>
                <li>If there is evidence of teams practicing misconduct (i.e. wintrading, boosting, etc.) during the
                    tournament, the teams participating will be disqualified.</li>
                <li>In the event of a two-way tie in the group stages, the team that won the series between the two
                    tied teams will advance.</li>
                <li>
                    In the event of a three-way “rock-paper-scissors” tie in the group stages, the team with the most
                    accumulated medal counts from the three matches will advance.
                    <ul>
                        <li>If medals are still tied, a best-of-1 rematch will be played between the teams that are
                            tied.</li>
                    </ul>
                </li>
                <li>
                    Network issues are the sole responsibility of the individual players.
                    <ul>
                        <li>
                            If a disconnect happens mid-game:
                            <ul>
                                <li>If the disconnection happened between six (6) to five (5) minutes left on the
                                    match, one rematch will be played.</li>
                                <li>If the disconnection happened after the five (5) minute left mark on the match,
                                    the match will be played on.</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    In the case of a server-wide or data center-wide network issue, a rematch will be played
                    regardless, or postponed until the network issues have been alleviated.
                </li>
            </ul>
        </div>
    </div>

    <div class="cup-header-wrapper">
        <img class="cup-header-logo" src="/plugins/cleanse/worldcup/assets/images/logo-62-65.png"/>
        <h3 class="cup-header">Tournament Rules</h3>
    </div>
    <div id="home" class="card mb-5">
        <div class="card-body">
            <ul>
                <li>
                    Two (2) regional tournaments will be first played in each region (North America, Europe, Japan):
                    <ul>
                        <li>Minor Qualifier and Major Qualifier.</li>
                        <li>
                            These are region-specific tournaments and will be held on these data centers:
                            <ul>
                                <li>Aether for North America</li>
                                <li>Chaos for Europe</li>
                                <li>Mana for Japan</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <strong><em>The Feast World Cup</em>: Regional Minor Qualifiers</strong>
                    <ul>
                        <li><em>The Feast World Cup</em>: Regional Minor Qualifiers will be held from <u>April 19, 2019 to May 3,
                            2019.</u></li>
                        <li>Invited FRC teams* do not play in the Minor Qualifiers, they automatically advance to the
                            Major Qualifiers.</li>
                        <li>All other teams who registered through the registration form will start in this
                            tournament.</li>
                        <li>
                            Group Stage (<u>April 19, 2019 – May 2, 2019</u>)
                            <ul>
                                <li>Teams who registered through the registration form will be randomly seeded into
                                    groups.</li>
                                <li>Teams must meet eligibility criteria.</li>
                                <li>All teams will play a best-of-3 round robin within their own group scheduled at
                                    their own convenience.</li>
                                <li>Scheduled games between teams MUST be notified to Regional Representatives, and
                                    scoreboards must be recorded in the rare event of a tiebreaker.</li>
                            </ul>
                        </li>
                        <li>
                            Playoff Stage (<u>May 3, 2019</u>)
                            <ul>
                                <li>Playoff Stage teams are determined from overall Top 8 teams from the Group Stage.
                                    The number of groups is subject to change (i.e. if 2 groups, top 4 from each group;
                                    if 4 groups, top 2 from each group).</li>
                                <li>Best-of-3 single-elimination bracket.</li>
                                <li>Teams who advance to the semi-finals (4* teams) will qualify for the Major
                                    Qualifiers.</li>
                                <li>Major-qualified teams will continue to play in the bracket for a seed # (1-4) for
                                    the Major Qualifiers.</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <strong><em>The Feast World Cup</em>: Regional Major Qualifiers</strong>
                    <ul>
                        <li><em>The Feast World Cup</em>: Regional Major Qualifiers will be held on May 4, 2019.</li>
                        <li>There is no Group Stage.</li>
                        <li>
                            Playoff Stage (<u>May 4, 2019</u>)
                            <ul>
                                <li>Up to 4 FRC teams from each region (North America, Europe and Japan) will be
                                    invited to participate in the Major Qualifiers.<a href="#invited-teams">*</a></li>
                                <li>Top 4 teams from the Minor Qualifiers will be seeded against the invited FRC
                                    teams.<a href="#invited-teams">*</a></li>
                                <li>Best-of-3 single-elimination bracket.</li>
                                <li>Teams who advance to the semi-finals will qualify for <em>The Feast World Cup</em>
                                    main event.</li>
                                <li><em>The Feast World Cup</em> main event-qualified teams will continue to play in
                                    the bracket for a seed # used in <em>The Feast World Cup</em> main event.</li>
                            </ul>
                            <p class="card-text mt-3">
                                <em id="invited-teams">* - In the event that an FRC team does not wish to participate
                                    in the tournament, additional teams in the Minor Qualifiers will qualify for the
                                    Major Qualifiers in respect to the number of FRC teams that do not participate in
                                    each region.</em>
                            </p>
                        </li>
                        <li>1st place prize for each region: One (1) level boost / story boost of your choice to
                            alleviate extra character leveling for <em>The Feast World Cup</em> main event.</li>
                    </ul>
                </li>
                <li>
                    <strong><em>The Feast World Cup</em>: Main Event </strong>
                    <ul>
                        <li><em>The Feast World Cup</em>: Main Event will be held on <u>May 17, 2019 to May 25,
                            2019</u>
                        </li>
                        <li>This is a cross-region tournament and will require all qualified teams to play a portion of
                            their matches on Aether, Chaos and Mana.</li>
                        <li>
                            Group Stage (<u>May 17, 2019 to May 18, 2019</u>)
                            <ul>
                                <li>Top 4 teams from NA, EU and JP (12 Teams total) will be seeded into 2 groups of 6
                                    teams.</li>
                                <li>Seeding order will be determined after the Major Qualifiers.</li>
                                <li>Best-of-3 Round Robin with all teams in your respective group.</li>
                                <li>
                                    Top 4 from each group (8 teams) will be seeded #1-#4 in each group and advance to
                                    <em>The Feast World Cup</em>: Main Event - Playoff Stage.
                                    <ul>
                                        <li>
                                            Date & Time:
                                            <ul>
                                                <li>Group 1 – <u>May 17, 2019 @ TBD</u></li>
                                                <li>Group 2 – <u>May 18, 2019 @ TBD</u></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            Playoff Stage (<u>May 24, 2019 to May 25, 2019</u>)
                            <ul>
                                <li>Top 4 teams from each group (8 teams) in the Group Stage will face off based on
                                    seeding.</li>
                                <li>Best-of-3 double elimination bracket, best-of-5 Grand Finals.</li>
                                <li>
                                    Grand Finals
                                    <ul>
                                        <li>The team that advances to the Grand Finals from the Loser’s bracket will
                                            have to win 2 sets of best-of-5 to win <em>The Feast World Cup</em>.</li>
                                        <li>The team that advances to the Grand Finals from the Winner’s bracket will
                                            have to win 1 set of best-of-5 to win <em>The Feast World Cup</em>.</li>
                                    </ul>
                                </li>
                                <li>
                                    Date & Time:
                                    <ul>
                                        <li>Winner’s Quarterfinals, Loser’s Playoffs, Winner’s Semifinals – <u>May 24,
                                            2019 @ TBD</u></li>
                                        <li>Loser’s Quarterfinals, Loser’s Semifinals, Winner’s Finals, Loser’s Finals
                                            and Grand Finals – <u>May 25, 2019 @ TBD</u></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            Prize: A trophy and <a href="/world-cup/contribute">??? (Contribute to the prize pool?)</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <p class="card-text text-center"><em>Updated: Jan. 19, 2019</em></p>
        </div>
    </div>

    <p class="small text-center">
        <small>{{ "now"|date("Y") }} <a href="/">PvPaissa</a>. All rights reserved.</small>
    </p>
</div>