<div id="rule-changes" class="card-footer text-muted">
    <p class="text-center"><em>2019年3月15日更新:</em></p>
    <ul class="text-monospace" style="font-size: .8rem;">
        <li>ベースの賞金額が$2,000 USDまで増えました。</li>
        <li>トーナメント予選の形式を変更し、地域予選のステージ数が3から2へなりました。
            ("最終予選"としていたものを"地域予選"に統廃合。)</li>
        <li>FRC招待選手枠を削除しました。これによってすべての登録チームは同じステージからの
            スタートとなります。</li>
        <li>地域予選 - グループステージは出場チーム数が (リージョンごとに) 8チーム以上の場合のみ行う旨の記載を
            追加しました。</li>
        <li>欧州チーム VS 日本チームの試合は全て Aether (北米) データセンターにて行うようにしました。
            詳細は<a href="/world-cup/faq">FAQ (よくある質問と回答)</a>を参照ください。</li>
        <li>上記の変更のため、予選を突破した欧州チームと日本チームが本戦のために新たに用意しなければならない
            キャラクター数が1になりました (ホームのDCのキャラクターに加えて Aether データセンター上にのみ新たに作成)。
        </li>
        <li>The Feast World Cup: 本戦 - グループステージの形式を変更しました ("6チームからなる2グループ"から"3チームから成る4グループ"
            へ変更)。詳細はFAQを参照ください。</li>
        <li>大会日時を大会形式の変更に合わせて調整しました。</li>
    </ul>
    <p class="text-center"><em>2019年2月24日更新:</em></p>
    <ul class="text-monospace" style="font-size: .8rem;">
        <li>賞品に関して、現時点の賞金額の表記を追加し、寄付プログラムを PayPal Pools へ移行しました。</li>
        <li>
            大会申し込みの期限を<del>2019年3月31日</del> から <ins>2019年4月12日</ins>へ変更しました。
        </li>
        <li>参加資格について、<del>トーナメント主催者は故意にファイナルファンタジーXIV利用規約に違反するプレイヤーに対して、
            大会への参加資格が無いと見なすことができます。</del> から <ins>アクティブかつ有効なプレイ資格を持つ FFXIV アカウントをお持ちの方。</ins></li>
        <li>
            異なるリージョン間の "ping (回線遅延問題)" についての対処を明確化しました。
            <a href="#ping-issues">詳しくはこちらを参照ください。</a>
        </li>
        <li>有望な新規プレイヤーの応援目的で "Rising Stars" トーナメントの優勝チームを北米の招待チーム枠に追加しました。
            <a href="#invited-teams">Rising Stars 招待チーム枠についてはこちらを参照ください。</a></li>
    </ul>
</div>
