<div id="rule-changes" class="card-footer text-muted">
    <p class="text-center"><em>2019年2月24日更新:</em></p>
    <ul class="text-monospace" style="font-size: .8rem;">
        <li>賞品に関して、現時点の賞金額の表記を追加し、寄付プログラムを PayPal Pools へ移行しました。</li>
        <li>
            大会申し込みの期限を<del>2019年3月31日</del> から <ins>2019年4月12日</ins>へ変更しました。
        </li>
        <li>参加資格について、<del>トーナメント主催者は故意にファイナルファンタジーXIV利用規約に違反するプレイヤーに対して、
            大会への参加資格が無いと見なすことができます。</del> から <ins>アクティブかつ有効なプレイ資格を持つ FFXIV アカウントをお持ちの方。</ins></li>
        <li>
            異なるリージョン間の "ping (回線遅延問題)" についての対処を明確化しました。
            <a href="#ping-issues">詳しくはこちらを参照ください。</a>
        </li>
        <li>有望な新規プレイヤーの応援目的で "Rising Stars" トーナメントの優勝チームを北米の招待チーム枠に追加しました。
            <a href="#invited-teams">Rising Stars 招待チーム枠についてはこちらを参照ください。</a></li>
    </ul>
</div>
