<div class="cup-content col-lg-8 offset-lg-2 py-3 bg-cup">
    <div class="cup-intro">
        <h1>The Feast World Cup ルール</h1>
		<p class="card-text text-center"><em>更新: 2019年2月24日</em></p>
    </div>

    <div class="cup-header-wrapper">
        <img class="cup-header-logo" src="/plugins/cleanse/worldcup/assets/images/logo-62-65.png"/>
        <h3 class="cup-header">参加資格</h3>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <ul>
                <li>
                    参加希望のチームは<a href="/world-cup/register">こちら<img
                        src="/plugins/cleanse/worldcup/assets/images/external-link.png"></a>の登録フォームから登録してください。
                    <ul>
                        <li>登録は告知開始から2019年4月12日まで受け付けています。</li>
                    </ul>
                </li>
                <li>
                    地域予選に参加するために、参加予定の地域に対応するデータセンター (Aether、Chaos、Mana) にPvPに参加可能な
                    キャラクター (LV30以上) がいること。
                </li>
                <li>
                    <strong>地域予選通過者</strong>は <em>The Feast World Cup</em> 本戦 (2019年5月17、18、24、25日) のためにPvPに参加可能な
                    キャラクター (LV30以上) が Aether、Chaos、Mana それぞれのデータセンターにいること。
                    <ul>
                        <li>予選通過後、本戦までの2週間（日本は1週間）の間に用意していただければ結構です。
                        </li>
                        <li>欧州と日本の予選通過チームは予選通過時に使用したホームデータセンターのキャラクターに加えて Aether データセンターに
                            新しいキャラを用意していただければOKです。</li>
                    </ul>
                </li>
                <li>1人につき参加可能なリージョン数は1つのみです。</li>
                <li>複数のチームに参加していない方。</li>
                <li>サポート対応可能な言語は英語と日本語です。もちろん他言語圏の方の参加も可能ですが、大会に関する情報の告知は英語と日本語のみで行われます。</li>
                <li>
                    割り当てられたトーナメントスケジュールにすべて参加可能な方。
                    <ul>
                        <li>予定された試合の開始予定時間に遅れた場合、その試合全体が不戦敗となります。
                            (試合全体が不戦敗とは、その試合が Best-of-3 (3試合制2本先取)なら3ゲーム全て、 Best-of-5 (5試合制3本先取) なら5ゲーム全て不戦敗となることを指します。)</li>
                    </ul>
                </li>
                <li>チームリーダーとサブリーダーは Discord (ボイスチャットアプリケーション) アカウントを持っていること。
                    (大会運営からの連絡はすべて Discord を通して行われるため)。その他のチームメンバーは Discord アカウントの有無は任意です。</li>
                <li>参加できるリージョンに制限はありません (参加予定のデータセンターに参加可能なキャラクターをお持ちなら参加可能です。)</li>
                <li>アクティブかつ有効なプレイ資格を持つ FFXIV アカウントをお持ちの方。</li>
            </ul>
        </div>
    </div>

    <div class="cup-header-wrapper">
        <img class="cup-header-logo" src="/plugins/cleanse/worldcup/assets/images/logo-62-65.png"/>
        <h3 class="cup-header">基本ルール</h3>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <ul>
                <li>チームはタンク・ヒーラー・近接DPS・遠隔DPSで構成されていること。</li>
                <li>FFXIVのゲーム内でPvPチームを作ることは必須ではありません。</li>
                <li>大会期間中にキャラクター名の変更やサーバーの移動を行った場合は必ず運営チームに申告すること。申告漏れがあった場合はチームが失格となる場合があります。</li>
                <li>
                    予選通過後に用意する別データセンターのキャラクターの名称は予選を通過したキャラクターの名称と一致させる必要はありませんが、名称とサーバー名を申告する必要があります。
                    <ul>
                        <li>予選通過後に本戦にて使用する別データセンターのキャラクター/サーバー名を申告するためのフォームを入力していただきます。</li>
                    </ul>
                </li>
                <li>
                    Best-of-3 (3試合制2本先取) /Best-of-5 (5試合制3本先取) の試合間にメンバーの交代やロールの変更を認めますが、直前の試合終了後2分以内にチームメンバーの入替を完了させること。
                    <ul>
                        <li>ここでいう“チームメンバーの入替を完了”とはゲーム内のパーティ募集機能にて交代で新しく入るメンバーがパーティに入り、
                            レディチェックがOKとなる状態であることを指します。</li>
                    </ul>
                </li>
                <li>
                    すべての試合において、試合を有利にするような外部ツールの使用を禁じます。
                    <ul>
                        <li>ただし回線状況を改善する目的でのVPNツールの使用は認めます。</li>
                    </ul>
                </li>
                <li>
                    <em>The Feast World Cup</em>: 本戦において、本戦出場チームは対戦の組み合わせ (対戦相手が所属するデータセンター) によって、
                    3つすべてのデータセンター (Aether、Chaos、Mana) にてプレイする可能性があります。 (ただし、欧州と日本チームは自データセンター + Aether のみ)
                    <ul>
                        <li>例: もし地域予選2位通過の北米チームと地域予選1位通過の日本チームが対戦する場合、1ゲーム目は Mana (日本) データセンターで、
                            2ゲーム目は Aether (北米) データセンターで、3ゲーム目は /random コマンドにて対戦するデータセンターが決定されます。
                        </li>
                    </ul>
                </li>
                <li>もし大会期間中に不正行為 (Winトレードやレート代行と言われている行為など) が行っていることが明確な証拠とともに発覚した場合、該当するチームは失格となります。</li>
                <li>グループステージにおいて2チームが同順位の場合は勝利数が多いチームを上位とします。</li>
                <li>
                    グループステージにおいて3チームが同順位の場合は各試合終了時のメダルの総合計が多いチームを上位とします。
                    <ul>
                        <li>もしメダルの総合計数も同数の場合は同点のチーム同士で1試合制1本先取の試合を行います。</li>
                    </ul>
                </li>
                <li>
                    通信回線のトラブルについてはすべてプレイヤー自身が責任を負うものとします。
                    <ul>
                        <li>
                            試合中に回線切断が発生した場合:
                            <ul>
                                <li>試合の残り時間が5分～6分の場合に回線切断が発生した場合は再試合を行います。</li>
                                <li>試合の残り時間が5分未満の場合に回線切断が発生した場合は試合続行とします。</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    サーバーまたはデーターセンターレベルのネットワーク障害が発生した場合は試合の経過内容にかかわらず再試合を行うか、
                    ネットワーク障害が復旧されるまで延期とします。
                </li>
                <li id="ping-issues"><strong>The Feast World Cup: 本戦において</strong>、本戦出場チームは対戦の組み合わせ (対戦相手が所属するデータセンター) によって、
                    3つのすべてのデータセンター (Aether、Chaos、Mana) にてプレイする可能性があります。
                    <ul>
                        <li>
                            例: もし地域予選2位通過の北米チームと地域予選1位通過の日本チームが対戦する場合、1ゲーム目は Mana (日本) データセンターで行い、
                            2ゲーム目は Aether (北米) データセンターで行われます。
                        </li>
                        <li>回線遅延問題に対処するために、すべての"欧州チーム VS 日本チーム"の試合は Aether (北米) 上にて行われます。</li>
                        <li>
                            理由としては、欧州から Mana (日本) データセンターへの ping 値と日本から Chaos (欧州) データセンターへの ping 値は、
                            どちらも欧州・日本それぞれから Aether (北米) への ping 値よりも高く (ping 値は高いほどラグが大きい)、それが両者の試合において最適であると判断したためです。
                        </li>
                    </ul>
                </li>
                <li>北米チーム VS 欧州チームと北米チーム VS 日本チームの試合における Best-of-3 (3試合制2本先取) または Best-of-5 (5試合制3本先取) にて、
                    試合が行われるデータセンターは両チームのリーダーまたはサブリーダーによるゲーム内の /random コマンドによって決定されます。
                    より大きい数値を出したチームのデータセンターにて Best-of-3 ゲームの3戦目、または Best-of-5 ゲームの5戦目が行われます。
                    欧州チーム VS 日本チームの試合は全て Aether (北米) データセンターにて行われます。</li>
                <li>全てのプレイヤー・チームはスポーツマンシップに則りフェアプレイを心がけること。</li>
            </ul>
        </div>
    </div>

    <div class="cup-header-wrapper">
        <img class="cup-header-logo" src="/plugins/cleanse/worldcup/assets/images/logo-62-65.png"/>
        <h3 class="cup-header">トーナメントルール</h3>
    </div>
    <div id="home" class="card mb-5">
        <div class="card-body">
            <ul>
                <li>
                    初めに地域予選がそれぞれのリージョンにて行われます。 (北米、欧州、日本):
                    <ul>
                        <li>地域予選</li>
                        <li>
                            これら予選は各リージョンごとのデータセンターにて行われます。:
                            <ul>
                                <li>北米: Aether</li>
                                <li>欧州: Chaos</li>
                                <li>日本: Mana</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <strong><em>The Feast World Cup</em>: 地域予選</strong>
                    <ul>
                        <li><em>The Feast World Cup</em>: 地域予選は<u>2019年4月19日～2019年5月4日</u>の期間中に開催されます。
                            (日本のみ<u>2019年4月19日～2019年5月11日</u>)</li>
                        <li>
                            グループステージ (<u>2019年4月19日 – 2019年5月3日</u>, 日本のみ<u>2019年4月19日～2019年5月10日</u>)
                            <ul>
                                <li>登録フォームにて登録したチームはランダムにグループ分けが行われます。</li>
                                <li>チームは参加資格を満たしていること。</li>
                                <li>すべてのチームは振り分けられたグループにおいて、Best-of-3 (3試合制2本先取) の総当たり戦形式の対戦を行います。
                                    試合スケジュールは予選期間内でグループごとにチーム同士で都合の良い日に決定する。</li>
                                <li>決定したスケジュールは必ず大会運営へ申告すること。
                                    また、試合結果は複数同順位チームが出た時のために必ず記録されること。</li>
                            </ul>
                        </li>
                        <li>
                            プレイオフステージ (<u>2019年5月4日</u>, 日本のみ<u>2019年5月11日</u>)
                            <ul>
                                <li>プレイオフステージ進出チームはグループステージの上位8チームから選出されます。
                                    グループ上位何チームが選出されるかはグループ数によって変わります。
                                    (例: グループ数が2つの場合は各グループの上位4チームが、グループ数が4つの場合は各グループ上位2チームが選出されます。)</li>
                                <li>Best-of-3 (3試合制2本先取) のシングルエリミネーション形式の対戦を行います。</li>
                                <li>準決勝進出チーム (4チーム) は The Feast World Cup: 本戦への出場権を獲得します。</li>
                                <li>本戦出場チームが決定した後も The Feast World Cup: 本戦ブラケットの振り分り (#1-4) を決定するためにトーナメントを続けます。</li>
                                <li><u>地域予選1位通過の賞品: The Feast World Cup 本戦にて使用するキャラクターの育成サポート用に
                                    レベルブーストアイテムまたはストーリースキップアイテムのいずれか1つを進呈します。</u>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <strong><em>The Feast World Cup</em>: 本戦 </strong>
                    <ul>
                        <li><em>The Feast World Cup</em>: 本戦は<u>2019年5月17日～2019年5月25日</u>の週末に開催されます。
                        </li>
                        <li>本戦はリージョンをまたいだトーナメントであり、すべての出場チームが Aether、Chaos、Mana データセンターいずれかにてプレイできる状態である必要があります。</li>
                        <li>
                            グループステージ (<u>2019年5月17日～2019年5月18日</u>)
                            <ul>
                                <li>北米、欧州、日本それぞれの上位4チーム (合計12チーム) を4つのグループに振り分けます (1グループあたり3チーム)。</li>
                                <li>振り分ける順番は地域予選 - プレイオフステージ終了後に決定されます。</li>
                                <li>各グループごとにBest-of-3 (3試合制2本先取) の総当たり戦形式の対戦を行います。</li>
                                <li>
                                    各グループの上位2チーム (合計8チーム) は <em>The Feast World Cup</em>: 本戦のプレイオフステージへ進出し、
                                    それぞれのグループから #1-#2 が本戦トーナメントに振り分けられます。</li>
                            </ul>
                        </li>
                        <li>
                            プレイオフステージ (<u>2019年5月24日～2019年5月25日</u>)
                            <ul>
                                <li>グループステージの各グループ上位2チーム (合計8チーム) を <em>The Feast World Cup</em>: 本戦 - グループステージの結果に基づき振り分けられます。</li>
                                <li>Best-of-3 (3試合制2本先取) のダブルエリミネーション形式、グランドファイナルのみBest-of-5 (5試合制3本先取)形式の対戦を行います。</li>
                                <li>
                                    グランドファイナル
                                    <ul>
                                        <li>ルーザーズブラケットからグランドファイナルへ進出したチームは <em>The Feast World Cup</em> に優勝するために、Best-of-5 (5試合制3本先取) の試合を2セット取る必要があります。</li>
                                        <li>ウィナーズブラケットからグランドファイナルへ進出したチームは <em>The Feast World Cup</em> に優勝するために、Best-of-5 (5試合制3本先取) の試合を1セット取る必要があります。</li>
                                    </ul>
                                </li>
                                <li>
                                    日時:
                                    <ul>
                                        <li>ウィナーズ準々決勝、ルーザーズプレイオフ、ウィナーズ準決勝 – <u>2019年5月24日@ TBD (未定)</u></li>
                                        <li>ルーザーズ準々決勝、ルーザーズ準決勝、ウィナーズ決勝、ルーザーズ決勝、グランドファイナル – <u>2019年5月25日@ TBD (未定)</u></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>優勝賞品: トロフィーの進呈と <a href="/world-cup/contribute">$2,000 USD + 賞金プールへの寄付金</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        {% partial __SELF__~'::jp_changes' %}
    </div>

    <p class="small text-center">
        <small>{{ "now"|date("Y") }} <a href="/">PvPaissa</a>. All rights reserved.</small>
    </p>
</div>