<div class="cup-content col-lg-8 offset-lg-2 py-3 bg-cup">
    <h1>チーム参加希望者掲示板</h1>
    <div class="d-flex justify-content-between">
        <a class="btn btn-primary" href="/world-cup/recruit">キャラクター追加/更新</a>
        {% partial __SELF__~'::jp_roles' %}
    </div>

    <div class="mt-2 card">
        {% if recruits.count > 0 %}
        <ul class="list-group list-group-flush">
            {% for r in recruits %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-3">{{ r.name }}</div>
                    <div class="col-1">{{ r.region|upper }}</div>
                    <div class="col-6">
                        <div class="player-roles">
                            {% for role in r.roles %}
                            {% if role == 'tank' %}
                            {% set role_jp = 'タンク' %}
                            {% elseif role == 'healer' %}
                            {% set role_jp = 'ヒーラー' %}
                            {% elseif role == 'melee' %}
                            {% set role_jp = 'メレー' %}
                            {% elseif role == 'ranged' %}
                            {% set role_jp = 'レンジ' %}
                            {% endif %}
                            <a href="/world-cup/recruits/{{ role }}">
                                <span class="mr-1 badge badge-{{ role }}">{{ role_jp|capitalize }}</span>
                            </a>
                            {% endfor %}
                        </div>
                        <div class="player-contact">
                            <strong>活動可能時間:</strong> {{ r.availability }}<br>
                            <strong>連絡先:</strong> {{ r.contact_method }}
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <div class="card-body">
            <p>参加希望者が見つかりませんでした</p>
        </div>
        {% endif %}

    </div>

    {% partial __SELF__~'::_footer' %}
</div>