<div class="main-nav col-lg-8 offset-lg-2 mb-3">
    <ul class="nav nav-pills nav-fill flex-column flex-sm-row">
        <li class="nav-item">
            <a class="nav-link{% if this.page.url == '/world-cup' %} active{% endif %}"
               href="/world-cup">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if this.page.url == '/world-cup/rules' %} active{% endif %}"
               href="/world-cup/rules">Rules</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if this.page.url == '/world-cup/teams' %} active{% endif %}"
               href="/world-cup/teams">Teams</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if this.page.url == '/world-cup/faq' %} active{% endif %}"
               href="/world-cup/faq">FAQ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if this.page.url == '/world-cup/results' %} active{% endif %}"
               href="/world-cup/results">Results</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if this.page.url == '/world-cup/contribute' %} active{% endif %}"
               href="/world-cup/contribute">Donate</a>
        </li>
    </ul>
</div>