<div class="d-flex align-items-end">
    <span><small>Show:</small></span>
    <a href="/world-cup/recruits"><span class="badge badge-primary">All</span></a>
    <a href="/world-cup/recruits/tank"><span class="badge badge-tank">Tank</span></a>
    <a href="/world-cup/recruits/healer"><span class="badge badge-healer">Healer</span></a>
    <a href="/world-cup/recruits/melee"><span class="badge badge-melee">Melee</span></a>
    <a href="/world-cup/recruits/ranged"><span class="badge badge-ranged">Ranged</span></a>
</div>