<div class="d-flex align-items-end">
    <span><small>表示対象:</small></span>
    <a href="/world-cup/recruits"><span class="badge badge-primary">全て表示</span></a>
    <a href="/world-cup/recruits/tank"><span class="badge badge-tank">タンク</span></a>
    <a href="/world-cup/recruits/healer"><span class="badge badge-healer">ヒーラー</span></a>
    <a href="/world-cup/recruits/melee"><span class="badge badge-melee">メレー</span></a>
    <a href="/world-cup/recruits/ranged"><span class="badge badge-ranged">レンジ</span></a>
</div>